<div>
  <h1>🎉 Kelompok 4</h1>

    <ul>
      <% ["Biru Cantik", "Dian Cantik", "Fachrul Ganteng", "Rafy Ganteng", "Wira Tamvan"].each do |nama| %>
        <li><%= nama %></li>
      <% end %>
    </ul>

    <div class="footer">
      &copy; <%= Time.now.year %> - Landing Page Kelompok 4
    </div>
</div>
